@media screen and (min-width: 768px) {

  .nav {

    a {
      font-size: 1rem;
    }
  }

  .main {
    h2 {
      font-size: 2.5rem;
    }

    .home {

      &__header {
        font-size: 3.1rem;
      }

      &__sub-header {
        font-size: 1.75rem;
        padding: 3% 0 4%;
      }

      &__arrow {
        padding: 7% 0 3%;
      }
    }

    .lets-talk {
      padding: 8% 12.75%;
  
      &__text {
        padding-bottom: 3.5%;
        font-size: 1.125rem;
      }
    }

    .think-about {
      &__text-container {
        padding: 0 10%;
      }
      
      &__header {
        //font-weight: $font-weight-semiBold;
        padding: 8.5% 0 0;
      }

      &__text {
        font-size: 1.125rem;
        padding: 4% 0 6%;
      }

      &__icon-container {
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(2, auto); 
        width: 75%;  
        padding-bottom: 8%;
      }

      &__icon {
        padding-top: 0;
  
        &--devices {
          grid-area: 1 / 1 / span 1 / span 1;
        }
  
        &--people {
          grid-area: 1 / 2 / span 1 / span 1;
        }
  
        &--security {
          grid-area: 1 / 3 / span 1 / span 1;
        }
  
        &--how {
          grid-area: 1 / 4 / span 1 / span 1;
        }
  
        &--who {
          grid-area: 1 / 5 / span 1 / span 1;
        }
  
        &--where {
          grid-area: 1 / 6 / span 1 / span 1;
        }
      }

      &__icon-tag {
        
        &--devices {
          grid-area: 2 / 1 / span 1 / span 1;
        }
  
        &--people {
          grid-area: 2 / 2 / span 1 / span 1;
        }
  
        &--security {
          grid-area: 2 / 3 / span 1 / span 1;
        }
  
        &--how {
          grid-area: 2 / 4 / span 1 / span 1;
        }
  
        &--who {
          grid-area: 2 / 5 / span 1 / span 1;
        }
  
        &--where {
          grid-area: 2 / 6 / span 1 / span 1;        
        }
      } 

      &__img {
        height: 40vh;
      }  
    }

    .success {
      padding: 7.5% 12% 8% 10%;

      &__icon {
        width: 21%;
        //padding-bottom: 2%;
      }

      &__text {
        font-size: 1.125rem;
      }
    }

    .how {
      &__text {
        padding: 2% 8%;
        font-size: 1.125rem;
      }

      &__img {
        padding: 0;
      }

      &__note {
        padding-top: 0;
      }
    }

    .advisors {
      &__text-container {
        padding: 10% 12% 0 10%;
        //text-align: left;
      }

      &__text {
        font-size: 1.125rem;
        padding-bottom: 5%;
      }

      &__img {
        width: 53%;
      }
    }

    .summary {
      //padding: 10%;

      &__header {
        padding-bottom: 6%;      
      }

      &__icon-container {
        width: 42vw;
        margin: auto;
      }

      &__text {
        font-size: 1.125rem;

        &--intro {
          padding: 0 4.5% 4% 4.5%;
        }

        &--icon {
          font-size: 1rem;
        }
      }

      &__icon {
        width: 46.2%;
      }

      &__icon-header {
        font-size: 1.6rem; 
      }

      &__note {
      }
    }

    .contact {
      padding: 8% 13% 8%;

      &__header {
        padding-bottom: 5.5%;
      }

      &__text {
        font-size: 1.125rem;
        width: 50vw;
      }

      &__form {
        padding-top: 9%;
      }

      label {
        font-size: 1rem;
      }

      input {
        margin: 1.5% 0 5.5%;
      }

      &__comments {
        height: 14vh;
      }

      &__button-container {
        width: 100%;
        height: auto;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 6% 0 8%;
      }

      &__note {
        font-size: 0.75rem;
        padding: 0;
      }
    }
  }

  .footer {
    text-align: left;
    padding: 4% 5.25%;

    &__list {
      display: inline-flex;
    }

    &__list-item + &__list-item::before {
      content: ' | ';
      padding: 0 0.5rem;
    }

    &__copyright {
      padding: 2% 0 0;
    }

    &__social-logo-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-top: 2%;
    }

    &__social-container {
      justify-content: space-between;
      justify-items: start;
      margin: 0;
      width: 20%;
      padding: 0;
    }

    &__logo-telefonica {
      width: 17%;
    }
  }

  .button {
    height: 3rem;
    padding: 1rem 1.8rem 0.7rem;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1366px) {

}

@media screen and (min-width: 1920px) {

  .nav {
    &__list-item {
      padding: 2%;
    }
  }
  .main {
    h2 {
      font-size: 3.125rem;
    }

    .home {
      padding: 0;
      height: 100vh;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);

      &__logo-container {
        grid-area: 1 / 2 / span 2 / span 2;
      }

      &__bubbles {
        width: 17.5vw;
      }

      &__logo {
        width: 7.8vw;
      }

      &__img {
        height: 95vh;
        width: auto;
        padding: 6% 0 0 6%;
        grid-area: 1 / 3 / span 6 / span 2;
        align-self: end;
      }

      &__contents-container {
        width: 30vw;
        text-align: left;
       // justify-content: start;
        align-self: center;
        justify-self: end;
        grid-area: 3 / 1 / span 3 / span 2;
      }
  
      &__header {
        font-size: 4.5rem;
        // //font-size: 1.75em;
        // font-weight: $font-weight-semiBold;
        // line-height: 1.18;
        //grid-area: 3 / 2 / span 1 / span 1;
      }
  
      &__sub-header {
        font-size: 2.5rem;
        width: 25vw;
        line-height: 1.18;
        // font-weight: $font-weight-light;
        // padding: 4% 0 8%;
        //grid-area: 3 / 1 / span 1 / span 1;
      }
  
      &__arrow {
       padding: 11% 0 0;
       grid-area: 6 / 2 / span 1 / span 2;
      }
    }

    .lets-talk {
      padding: 4% 19%;

      &__text {
        padding-bottom: 2.5%;
        font-size: 1.4rem;
      }
    }

    .think-about {
      display: inline-flex;

      &__text-container {
        width: 50%;
        padding: 0 8%;
      }

      &__text {
        font-size: 1.4rem;
      }

      &__icon-container {
        width: 100%;  
        padding-bottom: 6%;
       // justify-self: center;
       justify-content: space-between;
      }

      &__icon {
        height: 4rem;
      }

      &__icon-tag {
        font-size: 1.25rem;
      }

      &__img {
        width: 50%;
        height: auto;
      }  
    }

    .success {
      padding: 4% 19%;
      display: inline-flex;
      gap: 3.5%;
      justify-content: center;

      &__icon {
        width: auto;
        height: 7.5vw;
        padding-bottom: 0;
      }

      &__text-container {
        //text-align: left;
        width: 50%;
      }

      &__header {
        font-size: 2.5rem;
      }
    }

    .how {
      padding: 3% 5.5%;

      &__text {
        width: 59%;
        margin: auto;
      }

      &__img {
        width: 59%;
        padding-right: 10%;
      }

      &__note {
        font-size: 0.75rem;
        width: 50%;
        //text-align: c;
        margin: auto;
      }
    }

    .advisors {
      display: inline-flex;
      align-items: center;
      flex-direction: row-reverse;
      width: 100%;

      &__text-container {
        padding: 0 0 0;
        width: 50%;
      }

      &__header {      
        line-height: 3.5rem;
        padding-bottom: 4%;
        width: 24.4vw;
      }
  
      &__text {
        //font-weight: $font-weight-medium; 
        width: 24.4vw;   
        font-size: 1.4rem;  
        padding-bottom: 0;
        line-height: 1.36;
      }

      &__img {
        width: 35%;
        margin: auto;
        padding-top: 2%;
      }
    }

    .summary {
      padding: 3% 0;

      &__header {
        padding-bottom: 1.75%;      
      }

      &__icon-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: column;
        justify-items: center;
        width: 71vw;
        column-gap: 10vw;
      }

      &__text {
        &--intro {
          width: 55vw;
          margin: auto;
          font-size: 1.4rem;
          line-height: 1.36;
        }
      }

      &__note {
        padding-top: 4%;
      }
    }

    .contact {
      display: inline-flex;
      padding: 5.75% 11.2%;

      &__header-container {
        width: 50%;

      }

      &__header {
      }

      &__text {
        width: 30vw;
        font-size: 1.4rem;
      }

      &__form {
        padding-top: 0;
        width: 50%;

      }

      label {
        font-size: 1rem;
      }

      &__button-container {
        padding: 8% 0 8.5%;
      }

      &__note {
        font-size: 0.9rem;
      }
    }
  }

  .footer {
    text-align: center;
    font-size: 0.9rem;
    padding: 2.75% 17%;

    &__policies-container {
      display: inline-flex;
      align-items: center;
      padding-top: 0.5%;
    }

    &__copyright {
      padding: 0;
      padding-left: 1rem;
    }

    &__social-container {
      width: 10%;
    }

    &__social-icon {
      width: 1.45rem;
    }

    &__logo-telefonica {
      width: 9%;
    }
  }
}