@media screen and (min-width: 768px) {
  .nav a {
    font-size: 1rem;
  }

  .main h2 {
    font-size: 2.5rem;
  }
  .main .home__bubbles {
    top: -4rem;
    padding-bottom: 1%;
  }
  .main .home__header {
    font-size: 3.1rem;
  }
  .main .home__sub-header {
    font-size: 1.75rem;
    padding: 3% 0 4%;
  }
  .main .home__arrow {
    padding: 7% 0 3%;
  }
  .main .lets-talk {
    padding: 8% 12.75%;
  }
  .main .lets-talk__text {
    padding-bottom: 3.5%;
    font-size: 1.125rem;
  }
  .main .think-about__text-container {
    padding: 0 10%;
  }
  .main .think-about__header {
    padding: 8.5% 0 0;
  }
  .main .think-about__text {
    font-size: 1.125rem;
    padding: 4% 0 6%;
  }
  .main .think-about__icon-container {
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
    width: 75%;
    padding-bottom: 8%;
  }
  .main .think-about__icon {
    padding-top: 0;
  }
  .main .think-about__icon--devices {
    grid-area: 1/1/span 1/span 1;
  }
  .main .think-about__icon--people {
    grid-area: 1/2/span 1/span 1;
  }
  .main .think-about__icon--security {
    grid-area: 1/3/span 1/span 1;
  }
  .main .think-about__icon--how {
    grid-area: 1/4/span 1/span 1;
  }
  .main .think-about__icon--who {
    grid-area: 1/5/span 1/span 1;
  }
  .main .think-about__icon--where {
    grid-area: 1/6/span 1/span 1;
  }
  .main .think-about__icon-tag--devices {
    grid-area: 2/1/span 1/span 1;
  }
  .main .think-about__icon-tag--people {
    grid-area: 2/2/span 1/span 1;
  }
  .main .think-about__icon-tag--security {
    grid-area: 2/3/span 1/span 1;
  }
  .main .think-about__icon-tag--how {
    grid-area: 2/4/span 1/span 1;
  }
  .main .think-about__icon-tag--who {
    grid-area: 2/5/span 1/span 1;
  }
  .main .think-about__icon-tag--where {
    grid-area: 2/6/span 1/span 1;
  }
  .main .think-about__img {
    height: 40vh;
  }
  .main .success {
    padding: 7.5% 12% 8% 10%;
  }
  .main .success__icon {
    width: 21%;
  }
  .main .success__text {
    font-size: 1.125rem;
  }
  .main .how__text {
    padding: 2% 8%;
    font-size: 1.125rem;
  }
  .main .how__img {
    padding: 0;
  }
  .main .how__note {
    padding-top: 0;
  }
  .main .advisors__text-container {
    padding: 10% 12% 0 10%;
  }
  .main .advisors__text {
    font-size: 1.125rem;
    padding-bottom: 5%;
  }
  .main .advisors__img {
    width: 53%;
  }
  .main .summary__header {
    padding-bottom: 6%;
  }
  .main .summary__icon-container {
    width: 42vw;
    margin: auto;
  }
  .main .summary__text {
    font-size: 1.125rem;
  }
  .main .summary__text--intro {
    padding: 0 4.5% 4% 4.5%;
  }
  .main .summary__text--icon {
    font-size: 1rem;
  }
  .main .summary__icon {
    width: 46.2%;
  }
  .main .summary__icon-header {
    font-size: 1.6rem;
  }
  .main .contact {
    padding: 8% 13% 8%;
  }
  .main .contact__header {
    padding-bottom: 5.5%;
  }
  .main .contact__text {
    font-size: 1.125rem;
    width: 50vw;
  }
  .main .contact__form {
    padding-top: 9%;
  }
  .main .contact label {
    font-size: 1rem;
  }
  .main .contact input {
    margin: 1.5% 0 5.5%;
  }
  .main .contact__comments {
    height: 14vh;
  }
  .main .contact__button-container {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 6% 0 8%;
  }
  .main .contact__note {
    font-size: 0.75rem;
    padding: 0;
  }

  .footer {
    text-align: left;
    padding: 4% 5.25%;
  }
  .footer__list {
    display: inline-flex;
  }
  .footer__list-item + .footer__list-item::before {
    content: " | ";
    padding: 0 0.5rem;
  }
  .footer__copyright {
    padding: 2% 0 0;
  }
  .footer__social-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 2%;
  }
  .footer__social-container {
    justify-content: space-between;
    justify-items: start;
    margin: 0;
    width: 20%;
    padding: 0;
  }
  .footer__logo-telefonica {
    width: 17%;
  }

  .button {
    height: 3rem;
    padding: 1rem 1.8rem 0.7rem;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1920px) {
  .nav__list-item {
    padding: 2%;
  }

  .main h2 {
    font-size: 3.125rem;
  }
  .main .home {
    padding: 0;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .main .home__logo-container {
    grid-area: 1/2/span 2/span 2;
  }
  .main .home__bubbles {
    width: 17.5vw;
  }
  .main .home__logo {
    width: 7.8vw;
  }
  .main .home__img {
    height: 95vh;
    width: auto;
    padding: 6% 0 0 6%;
    grid-area: 1/3/span 6/span 2;
    align-self: end;
  }
  .main .home__contents-container {
    width: 30vw;
    text-align: left;
    align-self: center;
    justify-self: end;
    grid-area: 3/1/span 3/span 2;
  }
  .main .home__header {
    font-size: 4.5rem;
  }
  .main .home__sub-header {
    font-size: 2.5rem;
    width: 25vw;
    line-height: 1.18;
  }
  .main .home__arrow {
    padding: 11% 0 0;
    grid-area: 6/2/span 1/span 2;
  }
  .main .lets-talk {
    padding: 4% 19%;
  }
  .main .lets-talk__text {
    padding-bottom: 2.5%;
    font-size: 1.4rem;
  }
  .main .think-about {
    display: inline-flex;
  }
  .main .think-about__text-container {
    width: 50%;
    padding: 0 8%;
  }
  .main .think-about__text {
    font-size: 1.4rem;
  }
  .main .think-about__icon-container {
    width: 100%;
    padding-bottom: 6%;
    justify-content: space-between;
  }
  .main .think-about__icon {
    height: 4rem;
  }
  .main .think-about__icon-tag {
    font-size: 1.25rem;
  }
  .main .think-about__img {
    width: 50%;
    height: auto;
  }
  .main .success {
    padding: 4% 19%;
    display: inline-flex;
    gap: 3.5%;
    justify-content: center;
  }
  .main .success__icon {
    width: auto;
    height: 7.5vw;
    padding-bottom: 0;
  }
  .main .success__text-container {
    width: 50%;
  }
  .main .success__header {
    font-size: 2.5rem;
  }
  .main .how {
    padding: 3% 5.5%;
  }
  .main .how__text {
    width: 59%;
    margin: auto;
  }
  .main .how__img {
    width: 59%;
    padding-right: 10%;
  }
  .main .how__note {
    font-size: 0.75rem;
    width: 50%;
    margin: auto;
  }
  .main .advisors {
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
  }
  .main .advisors__text-container {
    padding: 0 0 0;
    width: 50%;
  }
  .main .advisors__header {
    line-height: 3.5rem;
    padding-bottom: 4%;
    width: 24.4vw;
  }
  .main .advisors__text {
    width: 24.4vw;
    font-size: 1.4rem;
    padding-bottom: 0;
    line-height: 1.36;
  }
  .main .advisors__img {
    width: 35%;
    margin: auto;
    padding-top: 2%;
  }
  .main .summary {
    padding: 3% 0;
  }
  .main .summary__header {
    padding-bottom: 1.75%;
  }
  .main .summary__icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    justify-items: center;
    width: 71vw;
    column-gap: 10vw;
  }
  .main .summary__text--intro {
    width: 55vw;
    margin: auto;
    font-size: 1.4rem;
    line-height: 1.36;
  }
  .main .summary__note {
    padding-top: 4%;
  }
  .main .contact {
    display: inline-flex;
    padding: 5.75% 11.2%;
  }
  .main .contact__header-container {
    width: 50%;
  }
  .main .contact__text {
    width: 30vw;
    font-size: 1.4rem;
  }
  .main .contact__form {
    padding-top: 0;
    width: 50%;
  }
  .main .contact label {
    font-size: 1rem;
  }
  .main .contact__button-container {
    padding: 8% 0 8.5%;
  }
  .main .contact__note {
    font-size: 0.9rem;
  }

  .footer {
    text-align: center;
    font-size: 0.9rem;
    padding: 2.75% 17%;
  }
  .footer__policies-container {
    display: inline-flex;
    align-items: center;
    padding-top: 0.5%;
  }
  .footer__copyright {
    padding: 0;
    padding-left: 1rem;
  }
  .footer__social-container {
    width: 10%;
  }
  .footer__social-icon {
    width: 1.45rem;
  }
  .footer__logo-telefonica {
    width: 9%;
  }
}